* {
	hyphens: never;
	font-family: sans-serif;
}

main {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	max-width: 32em;
}

h1 {
	display: block;
	font-size: 190%;
	line-height: 1.1;
	margin-top: 3rem;
	margin-bottom: 1rem;
	padding-top: 0.02em;
	font-weight: normal;
}

#messages p {
	font-family: monospace;
}
